<!--<html>
  <head>
    <title>monasterio-de-strahov</title>
  </head> 
  <body>
    <form method="post">
        <label>
            Digite seu nome:
            <input type="text" name="name">
        </label>
        <label>
            Digite sua idade:
            <input type="number" name="age">
        </label>
        <input type="submit">
    </form>
    </hr>
    {% for user in users %}
        {{ user.name }} - {{ user.age }} 
        </br>
    {% endfor %}
  </body>
</html>
-->


<html> 
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Monasterio de Strahov</title>
</head>
<body>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'>Inicio</a></li>
   <li><a href='/cadastro'>Cadastro</a></li>
   <li><a href='#'>Sobre</a></li>
   <li><a href='#'>Contato</a></li>
</ul>
</div>

</body>
<html>

</body> 
</html>




